body {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
  word-break: break-word;
}

h6 {
  font-size: 12px;
  font-weight: 100;
  line-height: 28px;
  display: inline;
  padding-right: 10px;
}

p {
  font-size: 12px;
  color: #9e9ea7;
}

img {
  max-height: 500px;
  object-fit: cover;
}

.weather-app-wrapper {
  max-width: 900px;
  display: block;
  margin: 20px auto;
  background-color: #e9d0d8;
  border-radius: 5px;
}

.card {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}

.search {
  display: block;
  margin: 0 auto;
  padding: 30px;
}

.actual-weather {
  background-color: rgb(253, 235, 231, 0.8);
  border-radius: 5px;
  padding: 10px;
  height: 347px;
  text-align: center;
}

#temperature {
  font-size: 70px;
  font-weight: bold;
  color: #77a2c3;
  background-color: transparent;
  border: none;
  line-height: 1;
}

#description {
  display: block;
  margin: 0 auto;
  color: #77a2c3;
  font-size: 16px;
  font-weight: bold;
}

#description:first-letter {
  text-transform: capitalize;
}

#icon {
  display: block;
  margin: 0 auto;
}

.units {
  color: #9e9ea7;
  cursor: default;
  text-decoration: none;
  font-size: 16px;
}

.table {
  background-color: rgb(208, 150, 162, 0.8);
  border-radius: 5px;
  padding: 10px;
}

.weather-forecast-temperature-max {
  font-weight: bold;
}

.footer {
  text-align: center;
}

@media (max-width: 800px) {
  img {
    display: inline;
  }
}
